<% content_for :training_side_bar, "active" %>
<div class="container-fluid callout">
	<div class="row-fluid">
		<%= render "homes/side_bar" %>
		<% unless current_attendee.is_complete_pretest? %>
			<div class="span9 status-container">
				<div class="infobar">
			          <div class="content">
			              <span>Anda belum melakukan pretest</span>
			              <%= link_to "Pretest", home_test_path, :class => "m-btn green info-btn" %>
			          </div>
				</div>
			</div>	
		<% end %>
		
		<div class="span9 contained">			
			<div class="heading">				
				<h1 class="heading-title">Trainings</h1>
				<%= link_to "Daftar", new_training_path, :class => "heading-button" %>
				<div class="clearfix"></div>
			</div>
			<div class="border-bottom"></div>			
			<div>			
				<% unless @trainings.blank? %>
					<table class="table">
					<thead>
						<tr>								
							<th>Tanggal Daftar</th>
							<th>Tipe Training</th>
							<th>Status Pembayaran</th>
						</tr>
					</thead>
					<tbody>
						<% @trainings.each do |training| %>
							<tr>
								<td><%= readable_date(training.created_at)%></td>
								<td><%= training.type %></td>
								<td><span class="status-label <%= payment_status_string(training.payment_status)%>"><%= training.payment_status %></span></td>	
								<form accept-charset="UTF-8" action="/orders/104" class="edit_order" id="edit_order_104" method="post"></form> 
								<td>
									<%= link_to "", training_path(training), {:class => "magnifier-icon"} %>
								</td>						

							</tr>
						<% end %>					
					</tbody>
					</table>
				<% else %>
					<h4>Klik "Daftar" untuk mendaftar Training</h4>
				<% end %>
			</div>

		</div>
	</div>
</div>