
<!-- Start About -->
<div class="row-fluid section" id="about">
  <div class="body container"> 

    <div class="explain">

      <h2>Team Member</h2>
      <p class="intro">This is where you'd put a brief explanation of your team member.</p>

      <!-- Start Team Members -->

      <div class="profiles">
        <div class="row-fluid">
          <% @profiles.each do |profile| %>          
            <div class="profile span4">            
                <div class="avatar">              
                  <%= image_tag profile.avatar.url %>
                </div>
                <div class="bio">
                  <h3><%= sanitize profile.name %></h3>
                  <p><%= truncate_html sanitize profile.bio, :length => 400 %>
                </div>         
          	</div>
          <% end %>                 
        </div> 

      </div> 

      <div class="pagination">
        <ul>
          <% if @current_page < @page && @current_page >= 1 %>
          	<li><%= link_to "Prev", :action => "index", :page => "#{@current_page - 1}" %></li>
		       <% end %>
          <% @page.times do |p| %>          
          	<li><%= link_to "#{p+1}", :action => "index", :page => "#{p+1}" %></li>
          <% end %>

          <% if @current_page < @page && @current_page >= 1 %>
          	<li><%= link_to "Prev", :action => "index", :page => "#{@current_page - 1}" %></li>
		  <% end %>

        </ul>
      </div>     
      
    </div>
  </div>
</div>


  <%= render "pages/footer" %>
  
</div>


