<ul class="nav nav-list span2 contained">
	<li class="nav-header">Menu</li>
	<li class="<%= yield :home_side_bar %>">
		<%= link_to "Home", :controller => "/homes", :action => "index" %>
	</li>

	<li class="<%= yield :pretest_side_bar %>">
		<%= link_to "Pretest", home_test_path %>
	</li>
	<li class="<%= yield :edit_profile_side_bar %>">				
		<%= link_to "Edit Profile", :controller => "/homes", :action => "edit_profile", :id => current_attendee.id %>
	</li>

	<li class="<%= yield :change_password_side_bar %>">				
		<%= link_to "Change Password", :controller => "/homes", :action => "change_password", :id => current_attendee.id%>
	</li>
</ul>