
<div class="row-fluid callout">
  <div class="container-fluid">              
    <div id="register-form" class="span8 offset2">        
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |b| %>
      <%= devise_error_messages! %>
      <fieldset>
        <legend>Account</legend>
        <div class="control-group <%= has_error('email', @attendee) %>" >
          <label>Email:</label>
          <div class="control">                  
            <%= b.email_field :email, :class => "span6" , :placeholder => "johndoe@gmail.com" %>
            <span class="help-inline"><%= get_error_message('email', @attendee) %></span>
          </div>
        </div>
        <div class="control-group <%= has_error('password', @attendee) %>">
          <label>Password:</label>
          <div class="control">
            <%= b.password_field :password, :class=> "span6"%>
            <span class="help-inline"><%= get_error_message('password', @attendee) %></span>
          </div> 
        </div>
        <div class="control-group">
          <label>Confirm Password:</label>
          <div class="control">
            <%= b.password_field :password_confirmation, :class=> "span6"%>
          </div> 
        </div>

        <legend>Biodata</legend>

       <div class="control-group <%= has_error('name', @attendee) %>" >                
          <label>Nama Lengkap:</label>
          <div class="control">                  
            <%= b.text_field :name%>
            <span class="help-inline"><%= get_error_message('name', @attendee) %></span>
          </div>
        </div>                            

        <div class="control-group <%= has_error('date_of_birth', @attendee) %>">                
          <label>Tanggal Lahir:</label>
          <div class="control">                  
            <%= b.text_field :date_of_birth%>
            <span class="help-inline"><%= get_error_message('date_of_birth', @attendee) %></span>
          </div>                                
        </div>


        <div class="control-group <%= has_error('place_of_birth', @attendee) %>">
          <label>Tempat Lahir:</label>
          <div class="control">                  
            <%= b.text_field :place_of_birth%>
            <span class="help-inline"><%= get_error_message('place_of_birth', @attendee) %></span>
          </div>                                
        </div>

        <div class="control-group <%= has_error('gender', @attendee) %>">                
          <label>Gender:</label>
          <div class="control">
            <%= b.select :gender, options_for_select([["Pria", "male"], ["Wanita", "female"]]) %>
            <span class="help-inline"><%= get_error_message('gender', @attendee) %></span> 
          </div>                                                
        </div>


        <div class="control-group <%= has_error('religion', @attendee) %>">
          <label>Agama:</label>
          <div class="control">
            <%= b.select :religion, options_for_select([["Islam", "islam"], ["Kristen", "kristen"], ['Hindu', "hindu"], ['Budha', 'budha']]) %>
            <span class="help-inline"><%= get_error_message('religion', @attendee) %></span>
          </div>
        </div>


        <div class="control-group <%= has_error('attendee.address', @attendee) %>">              
          <label>Alamat:</label>
          <div class="control">
            <%= b.text_field :address, :class => "span8" , :placeholder => "Jl. Setra duta raya E1-18" %>
            <span class="help-inline"><%= get_error_message('address', @attendee) %></span>
          </div>
        </div>


        <div class="control-group <%= has_error('phone', @attendee) %>">              
          <label>Telepon:</label>
          <div class="control">
            <%= b.text_field :phone, :class => "span4" , :placeholder => "021-200000 atau 0821111111" %>
            <span class="help-inline"><%= get_error_message('phone', @attendee) %></span>
          </div>
        </div>


        <legend>Data Kantor</legend>

        <div class="control-group <%= has_error('office_name', @attendee) %>">              
          <label>Nama Kantor:</label>
          <div class="control">
            <%= b.text_field :office_name, :class => "span4" , :placeholder => "Departemen Kesehatan" %>
            <span class="help-inline"><%= get_error_message('office_name', @attendee) %></span>
          </div>                
        </div>

        <div class="control-group <%= has_error('office_address', @attendee) %>">              
          <label>Alamat Kantor</label>                
          <div class="control">                
            <%= b.text_field :office_address, :class => "span8" , :placeholder => "Jalan Kesehatan No.11" %>
            <span class="help-inline"><%= get_error_message('office_address', @attendee) %></span>
          </div>
        </div>


        <div class="control-group <%= has_error('office_address', @attendee) %>">
          <label>Telepon Kantor</label>
          <div class="control">
            <%= b.text_field :office_phone, :class => "span4" , :placeholder => "021-200000 atau 0821111111" %>
            <span class="help-inline"><%= get_error_message('office_phone', @attendee) %></span>
          </div>
        </div>


        <div class="control-group <%= has_error('job_title', @attendee) %>">
          <label>Jabatan</label>
          <div class="control">
            <%= b.text_field :job_title, :class => "span4" , :placeholder => "Dokter Umum" %>
            <span class="help-inline"><%= get_error_message('job_title', @attendee) %></span>
          </div>                
        </div>

        <legend>Data Kampus</legend>


        <div class="control-group <%= has_error('campus_name', @attendee) %>">
          <label>Nama Kampus</label>            
          <div class="control">
            <%= b.text_field :campus_name, :class => "span4" , :placeholder => "Departemen Kesehatan" %>
            <span class="help-inline"><%= get_error_message('campus_name', @attendee) %></span>
          </div>
        </div>

        <div class="control-group <%= has_error('campus_address', @attendee) %>">
          <label>Alamat Kampus</label>
          <div class="control">
            <%= b.text_field :campus_address, :class => "span8" , :placeholder => "Jalan Kesehatan No.11" %>
            <span class="help-inline"><%= get_error_message('campus_address', @attendee) %></span>
          </div>
        </div>


        <div class="control-group <%= has_error('campus_phone', @attendee) %>">
          <label>Telepon Kampus</label>
          <div class="control">
            <%= b.text_field :campus_phone, :class => "span4" , :placeholder => "021-200000 atau 0821111111" %>
            <span class="help-inline"><%= get_error_message('campus_phone', @attendee) %></span>
          </div>
        </div>         
      </fieldset>
       <div class="span10 pagination-centered" id="submit-button">
         <button class="m-btn blue" type="button">Lanjut></button>                   
      </div>
      <% end %>      
      
    </div>        
  </div>
</div>

<!-- FOOTER -->
<div class="row-fluid">

  <div class="container footer">

    <!-- Copyright and contact -->

    <div class="span4 address">

      ©2012 Metro Business Template by <a href="http://www.littlesparkvt.com">LittleSparkVT</a>
      <br>555 Silverado Trail
      <br>Burlington Vermont 05477

    </div>

    <!-- newsletter form -->

    <div class="span5 pull-right footer-newsletter">
      <h2>Newsletter</h2>
      <p>Subscribe to our newsletter and get the latest news!</p>
      <form action="mail.php" id="subscribe-form" method="post">
        <input type="text" name="email" id="email" placeholder="Your Email Address" class="input-text m-wrap m-ctrl">
        <button type="submit" class="m-btn blue">Sign Up</button>
      </form>
    </div>

  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#submit-button").bind("click", function(){
    $("#new_attendee").submit();
  });
});
</script>


