
<div class="row-fluid callout">
  <!-- Start Carousel -->
  <div class="body container">

    <div class="company hidden-phone">

      <div id="slider" class="sl-slider-wrapper homesection">

        <div class="sl-slider">

          <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
            <div class="sl-slide-inner">
              <div class="bg-img bg-img-1"></div>
              <h2>ATLS Indonesia</h2>
              <blockquote><p>Advance Trauma Life Support Indonesia</p></blockquote>
            </div>
          </div>
          
          <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
            <div class="sl-slide-inner">
              <div class="bg-img bg-img-4"></div>
              <h2>What we do?</h2>
              <blockquote><p>Threat the greatest threat to life first</p></blockquote>
            </div>
          </div>
          <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
            <div class="sl-slide-inner">
              <div class="bg-img bg-img-cpr"></div>
              <h2>Initial Assestment</h2>            
            </div>
          </div>
          

        </div><!-- /sl-slider -->

        <nav id="nav-dots" class="nav-dots">
          <span class="nav-dot-current"></span>
          <span></span>
        </nav>

      </div><!-- /slider-wrapper -->
    </div>

    <!-- Tablet View Social Icons - they will line up across the screen instead of in a box -->


    <!-- TEXT AREAS -->

    <!-- Blogs -->
    <div class="row-fluid homesection">
      <div class="span6">
        <h2 class="sub-heading">Tentang ATLS</h2>
        <p>Advanced Trauma Life Support (ATLS) adalah sebuah program pelatihan bagi dokter medis dalam pengelolaan akut trauma kasus, yang dikembangkan oleh American College of Surgeons . Program serupa ada untuk perawat (ATCN) dan paramedis (PTLS). </p>
        <p><%= link_to "Baca Selengkapnya", page_path("about"), :class=> "m-btn blue"%></p>              
      </div>

      <div class="span6">
        <h2 class="sub-heading">Blogs</h2>
        <p>Kami menyediakan berbagai berita dan info terbaru berkaitan dengan initial assesment dan trauma life support di section blog</p>
        <p><%= link_to "Lihat lainnya", blogs_path, :class=> "m-btn blue"%></p>              
      </div>             
    </div>
    <div class="row-fluid">
      <div class="span6">
        <h2 class="sub-heading">Berita</h2>
        <ul class="info-body">
          <% News.all.each do |news| %>
          <li>
            <h4><%= news.title %></h4>
            <%= link_to news do %>
              <span><%=  truncate_html news.body, :length => 300 %></span>
            <% end %>
          </li>
          <% end %>                    
        </ul>
        <p class="section-button">
          <%= link_to "Lihat lainnya", news_index_path, :class=> "m-btn blue"%>
        </p>              

      </div>
      
      <div class="span6">
        <h2 class="sub-heading">Acara</h2>
        <ul class="info-body">
          <% Event.all.each do |event| %>
          <li>
            <h4><%= event.title %></h4>
            <%= link_to event do %>
            <span><%= truncate_html event.body, :length => 300 %> </span>
            <% end %>
          </li>
          <% end %>                    
        </ul>
        <p class="section-button">
          <%= link_to "Lihat lainnya", events_path, :class=> "m-btn blue"%>
        </p>              
      </div>

      

    </div>

  </div>

  <%= render "pages/footer" %>
</div>



<!-- Javascripts -->


<script type="text/javascript"> 
$(function() {

  var Page = (function() {

    var $nav = $( '#nav-dots > span' ),
    slitslider = $( '#slider' ).slitslider( {
      onBeforeChange : function( slide, pos ) {

        $nav.removeClass( 'nav-dot-current' );
        $nav.eq( pos ).addClass( 'nav-dot-current' );

      }
    } ),

    init = function() {

      initEvents();

    },
    initEvents = function() {

      $nav.each( function( i ) {

        $( this ).on( 'click', function( event ) {

          var $dot = $( this );

          if( !slitslider.isActive() ) {

            $nav.removeClass( 'nav-dot-current' );
            $dot.addClass( 'nav-dot-current' );

          }

          slitslider.jump( i + 1 );
          return false;

        } );

      } );

    };

    return { init : init };

  })();

  Page.init();    

});
</script>


