<% content_for :change_password_side_bar, "active" %>
<div class="statusbar">
	<div class="statusbar <%= status_bar_style %>">
		<div class="container"> 
			<% unless flash[:info].blank? && flash[:error].blank? %>         	            	
        		<div class="content">
        			<span><%= flash[:info] || flash[:error] %></span>
        			<a href="#" class="close" data-dismiss="alert">x</a>
        	<% end %>
        	</div>
        </div>
	</div>
</div>

<div class="container-fluid callout">
	<div class="row-fluid" style="margin-top:30px;">
		
		<%= render "shared/side_bar" %>

		<div class="span10" style="padding:10px 10px 10px 10px;">
			<div class="payment-section wrapper shadow">
				<div class="row-fluid section-title">				
					<div class="span9">
						<h1>Change Password</h1>					
					</div>					
				</div>

				    <div>        
      <%= form_for @attendee, :url => url_for(:controller => 'homes', :action => 'update_password', :id => @attendee.id), :method => :put do |b| %>
      <fieldset>        

       <div class="control-group <%= has_error('current_password', @attendee) %>" >                
          <label>Old Password:</label>
          <div class="control">                  
            <%= b.password_field :current_password%>
            <span class="help-inline"><%= get_error_message('current_password', @attendee) %></span>
          </div>
        </div>                            

        <div class="control-group <%= has_error('password', @attendee) %>">                
          <label>New Password:</label>
          <div class="control">                  
            <%= b.password_field :password%>
            <span class="help-inline"><%= get_error_message('password', @attendee) %></span>

          </div>                                
        </div>


        <div class="control-group <%= has_error('password_confirmation', @attendee) %>">
          <label>Confirm New Password:</label>
          <div class="control">                  
            <%= b.password_field :password_confirmation%>
            <span class="help-inline"><%= get_error_message('password_confirmation', @attendee) %></span>
            
          </div>                                
        </div>
      

       <div class="pagination-centered" id="submit-button">
         <button type="submit" class="m-btn blue" type="button">Save</button>                   
      </div>
      <% end %>      
      
    </div>        
			</div>
		</div>
	</div>		
</div>



