<% content_for :home_side_bar, "active" %>
<div class="container-fluid callout">
	<div class="row-fluid">
		<%= render "shared/side_bar" %>
		

		<% if flash[:error] %>
		<div class="span9 status-container">
				<div class="infobar error">
			          <div class="content">
			              <span><%= flash[:error] %></span>			              
			          </div>
				</div>
			</div>	
		<% end %>
		
		<div class="span9">		
			<div class="section contained">
				<div class="heading">				
					<h3 class="heading-title">Notifikasi</h3>
					<div class="clearfix"></div>
				</div>
				<div class="border-bottom"></div>			
				<div>			
					<div class="row-fluid notification-item">
						<% unless current_attendee.trainings.post_test_trainings.blank? %>
							<div class="notification-message span10">
								<p class="notifiation message">Anda memiliki Post Test yang masih pending</p>
							</div>
							<div class="notification-action span2">
								<%= link_to "Mulai Post Test", home_post_tests_path, :class=> "m-btn blue"%>
							</div>					
						<% else %>
							<div class="notification-message span10">
								<p class="notifiation message">Tidak ada notifikasi</p>
							</div>
						<% end %>
					</div>					
				</div>	
			</div>

			<div class="section contained">
				<div class="heading">				
					<h3 class="heading-title">Trainings</h3>
					<%= link_to "Daftar", new_training_path, :class => "heading-button" %>
					<div class="clearfix"></div>
				</div>
				<div class="border-bottom"></div>			
				<div>			
				<% unless current_attendee.trainings.blank? %>
					<table class="table">
					<thead>
						<tr>								
							<th>Tanggal Daftar</th>
							<th>Tipe Training</th>
							<th>Status</th>
							<!-- <th>Status Pembayaran</th> -->
						</tr>
					</thead>
					<tbody>
						<% current_attendee.trainings.each do |training| %>
							<tr>
								<td><%= readable_date(training.created_at)%></td>
								<td><%= training.type %></td>
								<td><span><%= training.status %></span></td>	
								<!-- <td><span class="status-label <%= payment_status_string(training.payment_status)%>"><%= training.payment_status %></span></td>	 -->
								<form accept-charset="UTF-8" action="/orders/104" class="edit_order" id="edit_order_104" method="post"></form> 
								<td>
									<%= link_to "", training_path(training), {:class => "magnifier-icon"} %>
								</td>						

							</tr>
						<% end %>					
					</tbody>
					</table>
				<% else %>
					<h4>Klik "Daftar" untuk mendaftar Training</h4>
				<% end %>
			</div>

			</div>

		</div>
		
	</div>
</div>