<% if params[:action].start_with?("new") ||  params[:action].start_with?("create") %>  
	<%= semantic_form_for [:admin, @peserta], :url => url_for(:controller => "admin/peserta", :action => "create") do |f| %>
	    <%= f.inputs "Attendee Detail" do %>     
			 <%= f.input :name %>	 
			 <%= f.input :date_of_birth, :as => :date_picker %>	 
			 <%= f.input :place_of_birth %>
			 <%= f.input :gender, :as => :select, :collection => ["Male", "Female"] %>
			 <%= f.input :religion %>
			 <%= f.input :address %>
			 <%= f.input :phone %>
			 <%= f.input :cell_number %>
			 <%= f.input :email %>
			 <%= f.input :password %>
			 <%= f.input :password_confirmation %>
	 	<% end %>

	 	<%= f.inputs "Office Details" do %>
	 		<%= f.input :office_name %>
	 		<%= f.input :job_title %>
	 		<%= f.input :office_address %>
	 		<%= f.input :office_phone %>
	 	<% end %>

	 	<%= f.inputs "Campus Details" do %> 
	 		<%= f.input :campus, :as => :select, :collection => Campus.all.sort_by_name.map{|b|[b.name, b.id]} %>
	 	<% end %>
	

		<%= f.actions %>
	<% end %>

<% elsif params[:action].start_with?("edit") || params[:action].start_with?("update")%>
	<%= semantic_form_for [:admin, @peserta], :url => url_for(:controller => "admin/peserta", :action => "update") do |f| %>
	    <%= f.inputs "Attendee Detail" do %>     
			 <%= f.input :name %>	 
			 <%= f.input :date_of_birth %>	 
			 <%= f.input :place_of_birth %>
			 <%= f.input :gender, :as => :select, :collection => ["Male", "Female"] %>
			 <%= f.input :religion %>
			 <%= f.input :address %>
			 <%= f.input :phone %>
			 <%= f.input :cell_number %>
			 <%= f.input :email %>
	 	<% end %>

	 	<%= f.inputs "Office Details" do %>
	 		<%= f.input :office_name %>
	 		<%= f.input :job_title %>
	 		<%= f.input :office_address %>
	 		<%= f.input :office_phone %>
	 	<% end %>

	 	<%= f.inputs "Campus Details" do %> 
	 		<%= f.input :campus, :as => :select, :collection => Campus.all.sort_by_name.map{|b|[b.name, b.id]} %>
	 	<% end %>

		<%= f.actions %>
	<% end %>
<% end %>


<script type="text/javascript">
	$("#attendee_training_attributes_training_location_id").change(function(){
		var callback = function(response){
			var test = $("#attendee_training_attributes_training_schedule_id").find('option').remove();
			var training_schedules = response.training_schedules;
			for(var i = 0; i < training_schedules.length ; i++){
				$("#attendee_training_attributes_training_schedule_id")
				.append($("<option></option>")
						.attr("value", training_schedules[i].id)
						.text(training_schedules[i].training_date));				
			}			
		}
		$.get('/training_schedules?training_location_id='+$(this).val(), callback, 'json');
	});
	
</script>


