<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>AtlsRails</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag    "application_custom_home", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

</head>
<body>
<div class="row header">
	<!-- NAV --> 

	<nav class="navbar navbar-fixed-top shadow">
		<div class="navbar-inner">
			<div class="container">

				<h1 class="brand">
					<a href="index.html">
						<img src="/assets/logo.png" alt="">
					</a>                            
				</h1>
				<div class="nav-bar">
					<ul class="nav pull-right">											
						<li><%= link_to "Signout", destroy_attendee_session_path, :method => :delete %></li>                         
					</ul>
				</div>

			</div>
		</div>
	</nav>
</div>


	<div class="content">
		<%= yield %>
	</div>


</body>
</html>